@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito&family=Open+Sans:wght@400;700&family=Oswald&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;800&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.mainHeading1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Bricolage Grotesque", sans-serif;
}
a {
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #38b2ac; /* Chakra teal.300 hover effect */
}
